*{
margin:0;
padding:0;
font-family: sans-serif;
}
.hero{
position: relative;
width: 100%;
height: 100%;
background: #eff4ef;

}
nav{
     display: flex;
     width: 84%;
     margin:auto;
     padding: 20px 0;
     align-items: center;
     justify-content: space-between;

}
nav ul li{

display:inline-block;
list-style:  none;
margin: 10px 20 px;
display: inline;
padding: 0 20px;

}
ul li a{
text-decoration: none;
color: black;
front font-weight: bold;


}
nav li a:hover{

color:orange;


}

.detel{
 margin-left: 8%;
 margin-top: 13%;

}
.detel h1{
font-size: 50px;
color: #212121;
margin-bottom: 20px;

}
span{

color: orange;

}
.detel p{

color: black;
line-height: 22px ;

}
.detel a{
 background: #212121;
 padding:  10px 18px;
 text-decoration: none;
 font-weight:  bold;
 color: #fff;
 display:  inline-block;
 margin: 30px 0;
 border-radius: 5px;
}
.images img{
    width: 30%;
    height: 90%;
    border-radius:100%;
    position: absolute;
    bottom: 0%;
    right: 0px;
    border-radius: 25px;
    margin-right: 10%;
    


}
/*card desing*/
.one-third-width{
    width: 25%;
    background: white;
    float: left;
    border-radius: 10px;
    margin-left: 5%;
    padding: 10px 7px;
}
.project-area h2{
    text-align: center;
    font-size: 40px;
    padding:100px;
}
.one-third-width img{
    width: 100%;
}
.project-area{
    height: 700px;
    background:#efefef; 
}
/*Footer*/
.footer{
    height: 550px;
    width: 100%;
    background: #efefef;
}
.inquiry-box{
    background-image: url("images/inquiry-bg.png");
    background-size: 800px 180px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
}
.inquiry-box ul li{
    display: inline-block;
}
.inquiry-box ul li h2{
    margin-left: 150px;
    color:white;
}
.inquiry-box ul li a{
 text-align: center;
 background: #212121;
 padding:  10px 18px;
 text-decoration: none;
 font-weight:  bold;
 color: #fff;
 display:  inline-block;
 margin: 30px 0;
 border-radius: 5px;
 margin-left: 600px;
}
.text-content{
    display: inline;
}
.social-links{
    text-align: center;
}
.mail-id p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.mail-id h3{
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}